<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926021140247-6c7t6vo09r4g2qovotumeuetecsnp7le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926021140247-6c7t6vo09r4g2qovotumeuetecsnp7le</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Z4jgrMtnHv_UfvOfWhgBlBpNQm5QFKc</string>
	<key>GCM_SENDER_ID</key>
	<string>926021140247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.karunpantpolls</string>
	<key>PROJECT_ID</key>
	<string>ioskppolls</string>
	<key>STORAGE_BUCKET</key>
	<string>ioskppolls.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926021140247:ios:3bb6aa441c41a832690152</string>
</dict>
</plist>